@using VYSA.Models
@{
    Layout = "/Views/Layout.cshtml";
    ViewBag.Title = "Pedidos";
}

<table class = "table table-hover">
    @try
    {  
        @foreach(Pedido ped in Model)
        {
        <tr>
            <td>@ped.Data</td>
            <td>R$@ped.Valor</td>
            <td>@ped.IdFuncionario</td>
        </tr>
        }  
    }
    
    catch(Exception ex) 
    {
        Console.WriteLine(ex.Message);              
    }

    <a href="/Pedido/Create" class="btn btn-secondary" style="margin-top: 20px">Novo Pedido</a>

</table>